body  {
    background-color: lightgrey;
  }
  
  .icon_dock  {
    margin: 2.5rem 6rem 0rem 6rem;
      display: flex;
      flex-direction: column;
      text-align: center;
  }
  
  .icon {
    padding: 3rem 0rem;
    background-color: #17a2b8;
    border-radius: 0.25rem;
    font-size: 8rem;
    line-height: 1;
  }
  
  .fa-circle-check {
    color: white;
  }
 
  .message  {
      --tw-bg-opacity: 1;
      background-color: rgb(241 245 249 / var(--tw-bg-opacity));
      color: grey;
      margin: 0rem .05rem;
  }
   h1  {
    margin: 1rem 0rem;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem; 
  }
   button  {
    --tw-bg-opacity: 1;
    background-color: rgb(248 113 113 / var(--tw-bg-opacity));
    border-radius: 1.5rem; 
     --tw-text-opacity: 1;
      color: rgb(248 250 252 / var(--tw-text-opacity));
       padding: 0.75rem 2.5rem 0.75rem 2.5rem;
       margin: 1.5rem 0rem;
       font-weight: 700;
       border: 2px solid rgb(248 113 113);
   }
   a{
    color: whitesmoke;
    text-decoration: none;
   }
  
  @media (min-width: 768px) {
    .icon_dock{
      margin: 4.5rem 20rem 2.5rem 20rem;
  }
  h1  {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  }